version: "3.8"
services:
  postgres:
    image: postgres:18
    container_name: nest_pg
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: business_intel
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - business_network
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: nest_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - business_network

volumes:
  pgdata:
  pgadmin_data:

networks:
  business_network:
    driver: bridge